.action {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
}

.actionCart {
  margin-right: 25px;
  font-size: 24px;
  width: 35px;
  height: 35px;
  color: #01C1FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionCart:hover {
  color: #7D33E0;
  background: rgba(220, 214, 255, 0.3);
  border-radius: 30px;
}

.actionHeart {
  font-size: 24px;
  color: #01C1FF;
}

.actionHeart {
  font-size: 24px;
  color: #01C1FF;
}