.background {
    background: url("../img/backgroundMilano.png");
    width: 1366px;
    height: 768px;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    align-items: center;
}

.navbar_context {
    display: flex;
}

.navbar_context:hover a.navbar_context_logo {
    background: url("../img/logorange.png");
}

.navbar_context_logo {
    background: url("../img/logo.png");
    width: 53px;
    height: 47px;
}

.navbar_context_text {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar_context_text_milan {
    font-size: 29px;
    color: white;
    line-height: 29px;
}

.navbar_context_text_milan:hover {
    color: #F26522;
}


.navbar_context_text_holidays {
    font-size: 18px;
    color: white;
    line-height: 18px;
}

.navbar_context_text_holidays:hover {
    color: #F26522;
}

.navbar_contact {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navbar_contact_personal {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}
.navbar_contact_personal:nth-child(2){
    padding: 0;
}

.navbar_contact_personal:hover {
    color: #F26522;
}

.main_context {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 12px;
}

.main_context_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
    justify-content: space-between;
}

.main_context_figure_text {
    font-size: 18px;
    color: white;
    line-height: 18px;
    margin-top: 20px;
}
.main_context_figure:hover a.main_context_figure_text{
    color: #F26522;
}

.footer {
    text-align: center;
}

.footer_sub {
    color: white;
    font-size: 12px;
    line-height: 12px;
}




















