.container {
  width: 1320px;
  margin: 0 auto;
}

.productListTitle {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #151875;
  text-align: center;
  margin: 90px;
}
.productCardBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}