.button {
  color: white;
  border: 0;
  margin-right: 10px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;

}
.modal-button{
  padding: 10px 40px;
  border-radius: 7px;
}

.darkred {
  background: #b3382c;
}
.darkblue{
  background: #051161;
}
.blue {
  background: darkblue;
}

